.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact__options{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap : 1rem;
}

.contact__option {
    text-align: center;
    width: 58%;
    background: var(--color-bg-variant);
    border: 1px solid var(--color-primary-variant);
    border-radius: 2rem;
    padding: 2rem;
    transition: var(--transition);
}

.contact__option:hover{
    background: transparent;
}

.contact__option-icon {
    color: var(--color-primary);
    font-size: 1.5rem;
}

form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    color: var(--color-white);
    font-size: 0.8rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
}


@media screen and (max-width:1024px) {
    .contact__option{
        width: 80%;
    }
}

@media screen and (max-width:600px) {
    .contact__container{
        grid-template-columns: 1fr;
    }
    .contact__options {
        place-items: center;
    }
    .contact__option{
        width: 80%;
    }
}